body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 100%;
    height: 100vh;

}

.child {
    color: rgb(9, 79, 79);
    text-align: center;
    background-color: azure;
    padding: 100px;
    box-shadow:  4px 5px 1px lightblue;
}

.countdown {
    display: flex;
    justify-content: center;
}
.count {
    padding: 10px 10px;
}

input {
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}